//breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// colors
$primary: #3e1166;
$primary_text: #ffffff;
$secondary:#8b49c0;
$warning: #f5b507;
$error: #b40606;
$success: #169427;
$info: #21a2ec;
